<%= form_for(@grille) do |f| %>
  <% if @grille.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grille.errors.count, "error") %> prohibited this grille from being saved:</h2>

      <ul>
      <% @grille.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><%= f.text_field :name %><br />
    nombre de carreau<%= f.select(:x, options_for_select(["10 x 10", "15 x 15", "20 x 20"])) %><br />

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
