<%= form_for(@grille) do |f| %>
  <% if @grille.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grille.errors.count, "error") %> prohibited this grille from being saved:</h2>

      <ul>
      <% @grille.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :position_x %><br />
    <%= f.text_field :position_x %>
  </div>
  <div class="field">
    <%= f.label :position_y %><br />
    <%= f.text_field :position_y %>
  </div>
  <div class="field">
    <%= f.label :lettre %><br />
    <%= f.text_field :lettre %>
  </div>
  <div class="field">
    <%= f.label :numeros %><br />
    <%= f.text_field :numeros %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
