<script type="text/javascript">
    function cSwap(cell){
        if (cell.className == "vide")
        {
            cell.className = "plein";
        }
        else if (cell.className == "plein")
        {
            cell.className = "vide";
        }
    }

</script>

<p id="notice"><%= notice %></p>
<%= @grilles.display_name %>
<table>
  <tr>
    <td>
      <table border="2">
        <% (0...@grilles.y).each do |y| %>
            <tr>
              <% (0...@grilles.x).each do |x| %>
                  <td class='vide' width="30" align="center" height="30" onclick="cSwap(this);"><%= @grilles.get_val_x_y(x,y).upcase %></td>
              <% end %>
            </tr>
        <% end %>
      </table>
    </td>
    <td></td><td></td>
    <td>
      <table>
        <tr>
          <th>Mot a trouver</th>
        </tr>

        <% lexiques = Lexique.find(:all, :conditions => "id in (#{@grilles.listes_mots})", :order => "mot asc") %>
        <% lexiques.each do |lexique| %>
            <tr>
              <td class='vide' onclick="cSwap(this);"><%= lexique.mot %></td>
            </tr>
        <% end %>
      </table>
    </td>
  </tr>
  <tr>
    <div class="field">
      mot caché :<input id="motCahe" type="text" size="25">
      <button onclick="alert('allo');">Valider</button>
    </div>
  </tr>
</table>
<%= link_to 'Back', grilles_path %>
