<script type="text/javascript">
    function cSwap(cell){
        if (cell.className == "vide")
        {
            cell.className = "plein";
        }
        else if (cell.className == "plein")
        {
            cell.className = "vide";
        }
    }
</script>

<p id="notice"><%= notice %></p>
<h3><%= @grilles.display_name %></h3>

<table border="2">
  <% (0...@grilles.y).each do |y| %>
      <tr>
        <% (0...@grilles.x).each do |x| %>
            <td class='vide' width="30" align="center" height="30" onclick="cSwap(this);"><%= @grilles.get_val_x_y(x,y).upcase %></td>
        <% end %>
      </tr>
  <% end %>
</table>

<div id="mot_a_chercher">
  <%= render 'liste_mots' %>
</div>
<!--mot caché :<input id="motCahe" type="text" size="25">-->
<!--<button onclick="alert('allo');">Valider</button>-->

<%= link_to 'Back', grilles_path %>
